<ion-header>
  <ion-toolbar>
    <ion-title>Ver detalles</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-align-items-center">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text>A Continuación se muestra completamente la información seleccionada:</ion-text><br>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-textarea readonly="true">{{this.traidopormodalparams}}</ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-button (click)="dismiss()" color="danger"><ion-text style="font-weight: 500;">Salir</ion-text>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>